footer {
  text-align: center;
  margin-top: 5px;
  font-size: 12px;
}
h1 {
  margin: 10px;
  padding: 5px;
  position: relative;
  bottom: -12px;
  font-weight: 550;
}

body {
  font-family: "Didact Gothic", sans-serif;
  font-family: sans-serif;
  background-color: rgb(209, 178, 142);
}

.container {
  margin-top: 20px;
}

.clockapp {
  border: 2px;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 450px;
  box-shadow: 1px -1px 21px 1px rgba(0, 0, 0, 0.4);
  margin-top: 50px auto;
  padding: 16px;
  background-color: rgb(241, 224, 204);
}

#selector {
  border-radius: 15px;
  width: 100%;
  font-size: 15px;
  margin: 0 auto;
  padding: 5px;
  margin-bottom: 15px;
}
.city {
  font-size: 15px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed rgb(187, 173, 155, 0.7);
  margin-top: 7px;
}

.city:last-child {
  border: none;
}

.date {
  font-size: 15px;
  color: rgb(52, 51, 51);
  font-weight: 500;
  opacity: 0.5;
  margin-top: 0;
  margin-bottom: 5px;
}

.time {
  color: rgb(130, 114, 85);
  font-size: 30px;
  font-weight: bold;
}

.time small {
  font-size: 18px;
  position: relative;
  top: -3px;
}

.link {
  text-decoration: none;
  color: rgb(95, 83, 59);
  font-weight: bold;
}

#world-img {
  height: 70px;
  width: 120px;
  float: right;
  margin-right: 10px;
  text-align: left;
  margin-bottom: 20px;
}

.link-cities {
  text-decoration: none;
  color: rgb(95, 83, 59);
  font-weight: bold;
  font-size: 15px;
  margin-left: 10px;
}

.link-title {
  text-decoration: none;
  color: rgb(95, 83, 59);
  font-weight: bold;
  font-size: 15px;
}
